header {
    width: 97%;
    min-height: 100px;
    max-width: 1530px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 10px #2b3b47;
    border-radius: 0px 0px 12px 12px;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #445f72;

}

li {
    list-style: none;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;

}

header ul li {
    padding: 0 1rem;
}

header ul li a {
    font-weight: bold;
}

header .cart {
    position: relative;
    cursor: pointer;

}header .cart box-icon{
    width: 45px;
    height: 45px;
}

header .cart span {
    position: absolute;
    top: 0;
    right: -0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: crimson;
}


/*------------------MEDIA -----------*/

@media only screen and (max-width: 600px) {
    header ul {
        display: none;
    }
}
